<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
  <div class="container">
    <a class="navbar-brand text-white" href="#">English Workshop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-3">
          <a class="nav-link text-white font-weight-bold" href="#">
            Ngôn ngữ hiển thị: <span class="font-weight-bolder">Tiếng Việt</span>
          </a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-light btn-lg">Đăng Nhập</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="screen-background d-flex align-items-center">
  <div class="my-container">
    <h1 class="text-center text-white font-weight-bold mb-5">
      Tuyệt vời. Bây giờ bạn hãy chọn mục tiêu luyện tập mỗi ngày.
    </h1>
    <ul *ngFor="let item of difficulties" class="my-options">
      <li>
        <button class="btn btn-lg btn-outline-light btn-block" [class.active]="selectedDifficulty==item" (click)="selectDifficulty(item)">
          <span class="float-left">{{item.name}}</span>
          <span class="float-right">{{item.minutes}} phút mỗi ngày</span>
        </button>
      </li>
    </ul>
    <button class="btn btn-light btn-lg btn-block mt-5" style="color: #2cb5e8" (click)="openConfirmModal(confirmModal)">Đặt mục tiêu</button>
  </div>
</div>

<ng-template #confirmModal>
  <div class="modal-header">
    <h4 class="modal-title font-weight-bolder pull-left">Xác Nhận</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="lead">
      Bạn có muốn xác nhận độ khó <span class="font-weight-bold text-success">{{selectedDifficulty.name}}</span> với mục tiêu <span class="font-weight-bold text-success">{{selectedDifficulty.minutes}} phút</span> mỗi ngày không?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Đóng</button>
    <button type="button" class="btn btn-success" (click)="confirmDifficulty()">Xác nhận</button>
  </div>
</ng-template>