.opacity {
  background-color: rgba(40, 59, 165, 0.85);
}

.navbar {
  border-style: none;
}

.navbar .navbar-brand {
  font-size: 2rem;
}

.nav-item {
  font: white;
}

#showcase {
  position: relative;
  background-image: url('../../assets/night-background.png');
  height: 100vh;
}

#showcase .primary-overlay {
  background: rgba(29, 60, 163, 0.8);;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#showcase #enroll-button {
  width: 300px;
}