<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3 opacity">
  <div class="container">
    <a class="navbar-brand" href="#">English Workshop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- collapse navbar-collapse  id="navbarSupportedContent" -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-3">
          <a class="nav-link text-white font-weight-bold" href="#">
            Ngôn ngữ hiển thị: <span class="font-weight-bolder">Tiếng Việt</span>
          </a>
        </li>
        <li class="nav-item">
          <button class="btn btn-light btn-lg" (click)="navigateToLogin()">Đăng Nhập</button>
        </li>
      </ul>

      <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
  </div>
</nav>

<section id="showcase" class="py-5">
  <div class="primary-overlay text-white d-flex align-items-center">
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-6">
          <img src="../../assets/globe.png" alt="" class="img-fluid d-none d-lg-block">
        </div>

        <div class="col-lg-6 text-center d-flex flex-column justify-content-center align-items-center">
          <h1 class="showcase-title font-weight-bolder">Học Tiếng Anh Miễn Phí</h1>
          <p class="lead mt-4">Một phương pháp học tiếng anh bằng hình thức giải trí, đồng thời trau dồi tất cả những kỹ
            năng.</p>
          <button class="btn btn-success btn-lg mt-4" id="enroll-button" (click)="navigateToWelcome()">
            BẮT ĐẦU
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="py-5" style="background-color: #eee">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img src="../../assets/angrybird02.png" style="width: 200px; height: 200px; position: absolute;
              right: 35px; top: 0px " alt="angrybird02">
      </div>
      <div class="col-8">
        <div style="margin-right: 130px">
          <h1>
            Cách tốt nhất để học một ngôn ngữ
          </h1>
          <p class="lead">Học cùng English Workshop, bạn sẽ thấy rất vui và cuốn hút. Dành nhiều điểm từ các câu trả lời
            đúng, trả lời
            nhanh trước khi hết thời gian hay lên cấp. Những bài học nhỏ-gọn của chúng tôi rất hiệu quả, và đã có một
            <a href="https://www.fluentu.com/blog/fastest-way-to-learn-a-new-language/">nghiên cứu chứng minh điều
              này.</a></p>
          <a href="" style="font-weight:bold ">Xem cách chúng tôi làm</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5" style="background-color: white;">
  <div class="container" style="padding: 0 7rem;">
    <h1 style="text-align: center;">Mỗi bài học đều được trò chơi hoá.</h1>
    <div class="row" style="margin: 5rem 0">
      <div class="col">
        <div class="row">
          <img src="../assets/images/readlistenspeak.png" style="width: 30px; height: 26px">
          <div class="col">
            <h3>Đọc, Nghe, Nói</h3>
            <p class="lead" style="font-size: 1rem">Mỗi bài học sẽ bao gồm nhiều loại câu hỏi, thử thách về nghe, nói,
              dịch và trắc nghiệm.</p>
          </div>
        </div>
        <div class="row">
          <img src="../assets/images/grade.png" style="width: 30px; height: 26px">
          <div class="col">
            <h3>Chấm điểm trong bài học</h3>
            <p class="lead" style="font-size: 1rem">Ngay lập tức biết được câu trả lời nào bạn làm đúng. Khi bạn bỏ lỡ
              một
              thử thách, chúng tôi sẽ nhanh chóng chỉ cho bạn cách cải thiện.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <img src="../../assets/images/ewscreen.png" style="width: 348px; height: 233px">
      </div>
      <div class="col">
        <div class="row">
          <img src="../../assets/images/streak.png" style="width: 30px; height: 30px">
          <div class="col">
            <h3>Ngày Streak</h3>
            <p class="lead" style="font-size: 1rem">Số ngày mà bạn đã học liên tục trên English Workshop. Đây là cách
              English Workshop khuyến khích người dùng luyện tập mỗi ngày.</p>
          </div>
        </div>
        <div class="row">
          <img src="../../assets/images/life.png" style="width: 30px; height: 30px">
          <div class="col">
            <h3>Trái tim</h3>
            <p class="lead" style="font-size: 1rem">Với mỗi câu trả lời sai, bạn sẽ mất một trái tim trong quá trình làm
              bài. Nếu mất hết số trái tim, bạn sẽ phải bắt đầu lại từ đầu.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5" style=" background-color: #eee">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div style="margin-left: 120px">
          <h1>
            Tăng tốc việc học của bạn với English Workshop
          </h1>
          <p class="lead">Học một ngôn ngữ với English Workshop là hoàn toàn miễn phí, nhưng bạn có thể tắt hết quảng
            cáo và hỗ trợ sứ
            mệnh giáo dục miễn phí bằng cách dùng Plus. Hãy thử 7 ngày không mất phí nhé!</p>
          <a href="" style="font-weight:bold ">Tìm hiểu thêm về English Workshop</a>
        </div>
      </div>
      <div class="col-4">
        <img src="../../assets/angrybird.png" style="width: 200px; height: 200px; position: absolute;
              left: 40px; " alt="angrybird">
      </div>
    </div>
  </div>
</div>

<div class="py-5" style="background: white">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img src="../../assets/web.png" style="width: 180px; height: 150px; position: absolute;
                right: 45px; " alt="website">
      </div>
      <div class="col-8">
        <div style="margin-right: 130px">
          <h1>
            English Workshop dành cho Học đường
          </h1>
          <p class="lead">Nền tảng học tập ngôn ngữ phổ biến nhất thế giới nay đã sử dụng được cho các lớp học. Hàng
            nghìn giáo viên đã
            sử dụng nó để tăng cường cho các bài học của mình.</p>
          <a href="" style="font-weight:bold ">Mang English Workshop vào lớp học của bạn</a>
        </div>
      </div>
    </div>
  </div>
</div>