<div class="container" style="padding: 0 15rem">
  <h2 style="margin: 0">{{exercise.requirement}}</h2>
  <ul class="row imageCardsContainer">
    <li *ngFor="let option of exercise.options; index as i" class="card col imageCard" [ngStyle]="{
          'background-color':chosenId===i ? '#ccffff' : 'white',
          'border-color':chosenId===i ? '#3399ff' : '#ddd' 
        }" (click)="sendAnswer(option, i)">
      <img class="card-img-top image" src="../../../assets/images/image-picking-exercise/{{option.illustration}}"
        alt="Card image cap">
      <div class="card-body">
        <p class="card-text lead bodyText">{{option.engWord}}</p>
      </div>
    </li>
  </ul>
</div>