<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3 opacity">
  <div class="container">
    <a class="navbar-brand" href="#">English Workshop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- collapse navbar-collapse  id="navbarSupportedContent" -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-3">
          <a class="nav-link text-white font-weight-bold" href="#">
            Ngôn ngữ hiển thị: <span class="language-text">Tiếng Việt</span>
          </a>
        </li>
        <li class="nav-item">
          <button class="btn btn-light btn-lg">Đăng Nhập</button>
        </li>
      </ul>

      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>

<section id="showcase" class="py-5">
  <div class="primary-overlay text-white">
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-6">
          <img src="../assets/globe.png" alt="" class="img-fluid d-none d-lg-block">
        </div>

        <div class="col-lg-6 text-center">
            <h1 class="mt-5 pt-5 font-weight-bold">Học Tiếng Anh Miễn Phí</h1>
            <p class="lead mt-4">Một phương pháp học tiếng anh bằng hình thức giải trí, đồng thời trau dồi tất cả những kỹ
              năng.</p>
            <button class="btn btn-success btn-lg mt-4" id="enroll-button">
              BẮT ĐẦU
            </button>
          </div>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>