<div class="container-fluid" style="background-color: white; padding: 1rem 15rem 0">
  <h2 style="text-align: center; margin: 3rem">Mỗi bài học đều được trò chơi hoá.</h2>
  <div class="row" style="margin: 5rem 0">
    <div class="col">
      <div class="row">
        <img src="../assets/images/readlistenspeak.png" style="width: 30px; height: 26px">
        <div class="col">
          <h5>Đọc, Nghe, Nói</h5>
          <p class="lead" style="font-size: 1rem">Mỗi bài học sẽ bao gồm nhiều loại câu hỏi, thử thách về nghe, nói, dịch và trắc nghiệm.</p>
        </div>
      </div>
      <div class="row">
          <img src="../assets/images/grade.png" style="width: 30px; height: 26px">
          <div class="col">
            <h5>Chấm điểm trong bài học</h5>
            <p class="lead" style="font-size: 1rem">Ngay lập tức biết được câu trả lời nào bạn làm đúng. Khi bạn bỏ lỡ một thử thách, chúng tôi sẽ nhanh chóng chỉ cho bạn cách cải thiện.</p>
          </div>
        </div>
    </div>
    <div class="col">
      <img src="../assets/images/ewscreen.png" style="width: 348px; height: 233px">
    </div>
    <div class="col">
      <div class="row">
        <img src="../assets/images/streak.png" style="width: 30px; height: 30px">
        <div class="col">
          <h5>Ngày Streak</h5>
          <p class="lead" style="font-size: 1rem">Số ngày mà bạn đã học liên tục trên English Workshop. Đây là cách English Workshop khuyến khích người dùng luyện tập mỗi ngày.</p>
        </div>
      </div>
      <div class="row">
        <img src="../assets/images/life.png" style="width: 30px; height: 30px">
        <div class="col">
          <h5>Trái tim</h5>
          <p class="lead" style="font-size: 1rem">Với mỗi câu trả lời sai, bạn sẽ mất một trái tim trong quá trình làm bài. Nếu mất hết số trái tim, bạn sẽ phải bắt đầu lại từ đầu.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
