<div style="height: 100vh; background-color: white;">

  <div class="border-bottom d-flex align-items-center" style="background-color: #eee; height: 15vh;">
    <div class="container">
      <div class="progress bg-white">
        <div class="progress-bar bg-primary" role="progressbar" style="width: 22%"></div>
      </div>
      <div class="mt-3">
        <div class="float-left">
          <button class="mt-2 close text-dark" tooltip="Đóng bài tập">X</button>
        </div>
        <div class="text-center font-weight-bolder text-primary" style="font-size: 1.6rem;">Câu hỏi: <span class="badge badge-pill badge-primary">5/12</span></div>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center" style="height: 70vh;">
    <div class="container">
      <!-- Chỗ nhét câu hỏi -->
      Trái cam có màu gì?
    </div>
  </div>

  <div class="border-top d-flex align-items-center" style="background-color: #eee; height: 15vh;">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col">
          <button class="btn btn-danger btn-lg" tooltip="Bỏ qua câu hỏi">Bỏ qua</button>
        </div>
        <div class="col text-right">
          <button class="btn btn-success btn-lg" tooltip="Xác nhận câu trả lời của bạn">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>
</div>