/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/lumen/bootstrap.min.css';
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

/* html, body {
  background: red;
  height: 100%;
} */

body {
  font-family: 'Varela Round';
}

.border-2 {
  border-width:2px !important;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  background-color: green;
}

.bg-yellow {
  background-color: yellow;
}

.bg-white {
  background-color: white;
}

.custom-nav-active {
  border-bottom: #fff solid 3px;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } 