<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
  <div class="container">
    <a class="navbar-brand text-white" style="font-size: 2rem;" href="#">English Workshop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <ul class="navbar-nav font-weight-bolder" style="font-size: 1rem;">
      <li class="nav-item mr-2">
        <a class="nav-link text-white" href="/showcase">Trang chủ</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link text-white" href="/exercise-menu">Các bài học</a>
      </li>
      <li class="nav-item mr-2 custom-nav-active">
        <a class="nav-link text-white" href="/admin/create-data">Tạo bài tập</a>
      </li>
    </ul>
  </div>
</nav>

<div style="background-color: #eee; min-height: 100vh; padding-top: 2rem;">
  <div class="container" style="background-color: white; padding: 50px 30px; border-radius: 20px">

        <!-- <h1 class="font-weight-bold text-right" style="margin-right: 50px">COURSE MỚI</h1> -->

    
    <div class="row">
      <div class="col-4">
        <div style="padding-top: 10px">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block">Course mới</button>
        </div>
        <div style="padding-top: 10px">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block">Vocabulary mới</button>
        </div>
        <div style="padding-top: 10px">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block">Sentence mới</button>
        </div>
        <div style="padding-top: 10px">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block">Word mới</button>
        </div>
      </div>


      <div class="col-8">
        <mat-card>
            <mat-card-title>
                <h1 class="font-weight-bold text-center">COURSE MỚI</h1>
              </mat-card-title>
          <div class="example-container">


            <mat-form-field appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Outline form field</mat-label>
              <!-- <input matInput placeholder="Placeholder"> -->
              <mat-select required>
                <mat-option>-- None --</mat-option>
                <mat-option value="option">Option</mat-option>
              </mat-select>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>

          </div>
        </mat-card>

      </div>
    </div>


  </div>
</div>